{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title%} {% endblock%}</title>
    <link href="{% static 'generic_static/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<style>
    body{
        background-color:#171717;        ;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="{% url 'todo:list'%}">Lab1</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="{% url 'todo:list'%}">List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'todo:add'%}">Add</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
{% block body_content %}
<h1> Default body block please override</h1>
{% endblock %}

<script src="{% static 'generic_static/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>